<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('社团成员列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								社团名称：<input type="text" name="organizationName"/>
							</li>

							<li>
								学号：<input type="text" name="studentNumber"/>
							</li>

							<li>
								姓名：<input type="text" name="name"/>
							</li>

							<!--<li>
								职级：<input type="text" name="level"/>
							</li>

							<li>
								职务：<input type="text" name="job"/>
							</li>-->

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="bus:organizationDetail:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="bus:organizationDetail:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="bus:organizationDetail:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="bus:organizationDetail:export">
					<i class="fa fa-download"></i> 导出
				 </a>
				<a class="btn btn-danger btn-xs" href="#" onclick="$.operate.exit()" shiro:hasPermission="bus:apply:exit">
					<i class="fa fa-remove"></i> 退出社团
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var promoteFlag = [[${@permission.hasPermi('bus:organizationDetail:promote')}]];
        var demoteFlag = [[${@permission.hasPermi('bus:organizationDetail:demote')}]];
        var kickFlag = [[${@permission.hasPermi('bus:organizationDetail:kick')}]];
        var editFlag = [[${@permission.hasPermi('bus:organizationDetail:edit')}]];
        var removeFlag = [[${@permission.hasPermi('bus:organizationDetail:remove')}]];
        var prefix = ctx + "bus/organizationDetail";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                promoteUrl: prefix + "/promote",
                demoteUrl: prefix + "/demote",
                kickUrl: prefix + "/kick",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "社团成员",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '主键id',
					visible: false
				},
				{
					field : 'organizationName',
					title : '社团名称',
					sortable: true
				},
				{
					field : 'studentNumber', 
					title : '学号',
					sortable: true
				},
				{
					field : 'name', 
					title : '姓名',
					sortable: true
				},
				{
					field : 'level', 
					title : '职级',
					sortable: true
				},
				{
					field : 'job', 
					title : '职务',
					sortable: true
				},
				{
					field : 'createBy', 
					title : '创建者',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'updateBy', 
					title : '更新者',
					sortable: true
				},
				{
					field : 'updateTime', 
					title : '更新时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	if (row.level != '999'){
							actions.push('<a class="btn btn-primary btn-xs ' + promoteFlag + '" href="#" onclick="$.operate.promote(\'' + row.id + '\')"><i class="fa fa-edit"></i>升职</a> ');
							actions.push('<a class="btn btn-warning btn-xs ' + demoteFlag + '" href="#" onclick="$.operate.demote(\'' + row.id + '\')"><i class="fa fa-edit"></i>降职</a> ');
							actions.push('<a class="btn btn-danger btn-xs ' + kickFlag + '" href="#" onclick="$.operate.kick(\'' + row.id + '\')"><i class="fa fa-remove"></i>踢出</a> ');
						}
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>