<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bus.mapper.ActivityMapper">
    
    <resultMap type="Activity" id="ActivityResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="date"    column="date"    />
        <result property="place"    column="place"    />
        <result property="leader"    column="leader"    />
        <result property="phone"    column="phone"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectActivityVo">
        select id, title, content, date, place, leader, phone, del_flag, create_by, create_time, update_by, update_time from bus_activity
    </sql>
	
    <select id="selectActivityList" parameterType="Activity" resultMap="ActivityResult">
        <include refid="selectActivityVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="title != null  and title != '' "> and title like concat('%', #{title}, '%')</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="date != null "> and date = #{date}</if>
             <if test="place != null  and place != '' "> and place = #{place}</if>
             <if test="leader != null  and leader != '' "> and leader = #{leader}</if>
             <if test="phone != null  and phone != '' "> and phone = #{phone}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectActivityById" parameterType="Integer" resultMap="ActivityResult">
        <include refid="selectActivityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertActivity" parameterType="Activity" useGeneratedKeys="true" keyProperty="id">
        insert into bus_activity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">title,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="date != null  ">date,</if>
			<if test="place != null  and place != ''  ">place,</if>
			<if test="leader != null  and leader != ''  ">leader,</if>
			<if test="phone != null  and phone != ''  ">phone,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="date != null  ">#{date},</if>
			<if test="place != null  and place != ''  ">#{place},</if>
			<if test="leader != null  and leader != ''  ">#{leader},</if>
			<if test="phone != null  and phone != ''  ">#{phone},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateActivity" parameterType="Activity">
        update bus_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="date != null  ">date = #{date},</if>
            <if test="place != null  and place != ''  ">place = #{place},</if>
            <if test="leader != null  and leader != ''  ">leader = #{leader},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<update id="deleteActivityById" parameterType="Integer">
        update bus_activity
        set del_flag = 2
        where id = #{id}
    </update>
	
    <update id="deleteActivityByIds" parameterType="String">
        update bus_activity
        set del_flag = 2
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    
</mapper>